@use 'variables' as *;
@use 'mixins' as *;

.footer {
    @include flex-arround;
    padding: 10px 16px;
    background: $background;
    bottom: 0;
    z-index: 100;
    width: 100%;
    max-width: 390px; 
    margin: 0 auto;
    position: sticky;

    .iconButton {
        @include button-reset;
        width: 36px;
        height: 36px;
        @include flex-center;
        transition: transform 0.2s ease, filter 0.2s ease;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;

        .icon {
            filter: $icon-filter-default;
            height: max-content;
            width: max-content;
        }

        &:hover .icon {
            filter: $icon-filter-hover;
            transform: scale(1.1);
        }
    }
}
