@use 'variables' as *;
@use 'mixins' as *;

.header {
    @include flex-between;
    height: $header-height;
    padding: 0 $container-padding;
    background: $background;
    position: sticky;
    top: 0;
    z-index: 100;
    max-width: 390px;
    margin: 0 auto;

    .title {
        font-weight: 400;
        @include responsive-font(28px, 18px);
        color: $primary-color;
    }

    .menuButton {
        @include button-reset;
        width: 30px;
        height: 30px;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        @include flex-center;

        .icon {
            filter: $icon-filter-default;
            height: max-content;
            width: max-content;
        }

        &:hover .icon {
            filter: $icon-filter-hover;
        }
    }
}
