@use 'variables' as *;
@use 'mixins' as *;

.stats {
    @include flex-between;
}

.statsItem {
    text-align: center;
    flex: 1;
    position: relative;

    &:not(:last-child)::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 80%;
        background: $primary-color;
    }
}

.statsValue {
    font-weight: bold;
    font-size: 24px;
    color: $text-light;
}

.statsLabel {
    color: $text-light;
    font-size: 18px;
    margin-top: 4px;
}
