@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

* {
    font-family: var(--font-sf-pro-display), 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent; 
}

body {
    min-width: 320px;
    overflow-x: hidden;
    background-color: $background;
    color: $text-color;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: $footer-height;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
button,
input,
textarea,
select,
label {
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none !important;

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

img {
    max-width: 100%;
    display: block;
    border: none !important;
}

.icon {
    border: none !important;
    outline: none !important;

    filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(706%) hue-rotate(145deg) brightness(90%)
        contrast(77%);
    transition: filter 0.2s ease;

    :hover > & {
        filter: brightness(0) saturate(100%) invert(39%) sepia(96%) saturate(1352%) hue-rotate(89deg) brightness(112%)
            contrast(110%);
    }
}

@media (max-width: 460px) {
    .profile,
    .header,
    .footer {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 100% !important;
    }

    .avatar {
        width: 140px !important;
        height: 140px !important;
    }

    .locationButton,
    .editButton {
        font-size: 18px !important;
        padding: 8px !important;
    }
}
